body{
	background: url(https://freedesignfile.com/upload/2014/04/Creative-scroll-paper-background-vector-set-14.jpg); 
	background-repeat: no-repeat;
}



h1{
	margin-bottom: 50px;
	margin-left: 100px;
	margin-top: 35px;
}

ul{
	margin-left: 100px;
}

#addbtn{
	margin-left: 5px;

}
#myInput{
	margin-left: 125px;
}